.resetButton {
    width: 5em;
    height: 2em;
    font-size: xx-large;
    background-color: #2B87D1;
    border: none;
    outline: solid white;
    color: white;
    box-shadow: none;
}

.resetButton:hover {
    font-size: xx-large;
    background-color: white;
    color: #2B87D1;
}