.settingsText {
    font-size: medium;
    color: #226CA7;
}

.modeButton {
    text-align: center;
    width: 30%;
    height: 2em;
    border: none;
    outline: none;
    font-size: x-large;
    font-weight: bold;
    background-color: #226CA7;
    color: white;
}

.modeButton:hover {
    text-align: center;
    width: 30%;
    height: 2em;
    border: none;
    outline: none;
    font-size: x-large;
    font-weight: bold;
    background-color: white;
    color: #226CA7;
}