.btn {
    width: 5em;
    height: 2em;
    font-size: xx-large;
    background-color: #2B87D1;
    border: none;
    outline: solid white;
    color: white;
    box-shadow: none;
}

.btn:hover {
    font-size: xx-large;
    background-color: white;
    color: #2B87D1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input::placeholder {
    color: #2B87D1;
}

.inputDiv {
    padding-bottom: 1em;
}

