.outer {
    display: table;
    position: absolute;
    height: 99%;
    width: 99%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.layout {
    text-align: center;
    font-size: xx-large;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
    width: 30%;
}


